In [1]:
import pandas as pd

In [2]:
from bs4 import BeautifulSoup

In [3]:
!pip install lxml

Requirement already satisfied: lxml in c:\users\fahad kamal\appdata\local\programs\python\python313\lib\site-packages (5.4.0)

In [24]:
import requests
url ="https://www.investing.com/currencies/usd-pkr-historical-data"

In [30]:
headers = {'User-Agent': 'Mozilla/5.0'}
r=requests.get(url)

In [31]:
Soup=BeautifulSoup(r.text,'html.parser')

In [37]:
table = Soup.find('table',{'class': 'genTbl closedTbl historicalTbl'})
print (table)

None

In [36]:
rows = table.find_all('tr')

AttributeError: 'NoneType' object has no attribute 'find_all'

In [29]:
data=[]
headers = [header.text.strip() for header in rows[0].find_all('th')]
print(f"Columns in table: {headers}")

Columns in table: ['']

In [22]:
for row in rows[1:]:  # Skip the header
    cols = row.find_all('td')
    cols = [ele.text.strip() for ele in cols]
    if cols:  # If row is not empty
        data.append(cols)

# Create a dataframe
df = pd.DataFrame(data, columns=['SYMBOL', 'SECTOR', 'LISTED IN','MARKET CAP.','PRICE','CHANGE(%)','1-YEAR CH.(%)*','PE RATIO(TTM)','DIVIDEND YEILD(%)','FREE FLOAT','30D VOLUMNE AVG.'])

In [23]:
df

,SYMBOL,SECTOR,LISTED IN,MARKET CAP.,PRICE,CHANGE(%),1-YEAR CH.(%)*,PE RATIO(TTM),DIVIDEND YEILD(%),FREE FLOAT,30D VOLUMNE AVG.
0,786,0813,ALLSHR,128.5M,8.58,0.59%,54.87%,17.16,0.00,5.2M,"4,051"
1,AABS,0826,"ALLSHR,KMIALLSHR",12.2B,704.30,-2.89%,23.64%,20.56,5.41,1.7M,586
2,AALNC,0830,ALLSHR,0.0,0.00,0.00%,-100.00%,0.00,0.00,0.0,0
3,AASMNC,0827,ALLSHR,46.8M,3.49,10.79%,0.00%,0.47,0.00,2.7M,0
4,AATM,0830,ALLSHR,2.0B,44.33,-5.20%,2041.55%,24.22,0.00,926.2K,"1,876"
...,...,...,...,...,...,...,...,...,...,...,...
698,ZAL,0828,"ALLSHR,KMIALLSHR",3.9B,15.00,-0.73%,-0.73%,0.51,0.00,65.6M,"549,146"
699,ZELPNC,0804,ALLSHR,188.2M,0.44,0.00%,0.00%,0.00,0.00,51.0M,0
700,ZHCMNC,0829,ALLSHR,591.6K,0.06,0.00%,0.00%,0.00,0.00,4.4M,0
701,ZILXD,0810,"ALLSHR,KMIALLSHR",1.8B,300.61,-2.15%,11.34%,97.92,1.18,306.1K,"3,274"
702,ZTL,0831,"ALLSHR,KMIALLSHR",683.4M,11.50,0.00%,-6.35%,0.00,0.00,8.9M,"2,843"